.slidePics {
    max-width: 600px;
    max-height: 500px;
}

.carousel-item {
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

@media screen and (max-width: 600px) {
.slidePics {
    max-width: 350px;
    max-height: 250px;
}

}