.footer {
    margin: 20px;
    /* position: fixed; */
    bottom: 5px;
    
}

.logos {
    max-width: 100px;
    max-height: 100px;
}


.logoCol {
    display: flex;
    justify-content: center;
    
}

@media screen and (max-width: 600px) {
    .logos {
        max-width: 75px;
        max-height: 75px;
    }
    .petfinder {
        margin: 0 0 0 25px;
    }
    .footer {
        
        bottom: 5px;
    }
    
}
@media screen and (max-width: 425px) {
    
    .petFinder {
        margin: 0 0 0 75px;
    }
    
}
@media screen and (max-width: 375px) {
    
    .petFinder {
        margin: 0 0 0 50px;
    }
    
}
@media screen and (max-width: 320px) {
    
    .petFinder {
        margin: 0 0 0 25px;
    }
    
}